[submodule "Python Libraries/Data-Science-IPython-NoteBooks"]
	path = Python Libraries/Data-Science-IPython-NoteBooks
	url = https://github.com/donnemartin/data-science-ipython-notebooks
[submodule "Cheat Sheets/cheatsheets-ai"]
	path = Cheat Sheets/cheatsheets-ai
	url = https://github.com/kailashahirwar/cheatsheets-ai
[submodule "Cheat Sheets/github-cheat-sheet"]
	path = Cheat Sheets/github-cheat-sheet
	url = https://github.com/tiimgreen/github-cheat-sheet
